<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://mentime-001-site1.itempurl.com:8172/MsDeploy.axd?site=mentime-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>mentime-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>mentime-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QLBanHangDBContext15" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebBanHang.Models.EF.QLBanHangDBContext, WebBanHang" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext10" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext10_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext11" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext11_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext12" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext12_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext13" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext13_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext14" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext14_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext1" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext2" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext3" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext4" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext5" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext6" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext6_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext7" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext7_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext8" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext8_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext9" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext9_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ClockstoreEntities" Order="16" Enabled="False">
          <Destination Path="Data Source=SQL5063.site4now.net;Initial Catalog=db_a7c1df_mentime;User ID=db_a7c1df_mentime_admin;Password=0347242849thinh" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ClockstoreEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Context.dbModel.csdl|res://*/Context.dbModel.ssdl|res://*/Context.dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QLBanHangDBContext" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-85N0DJGL\HIGUYS;Initial Catalog=Clockstore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLBanHangDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=LAPTOP-85N0DJGL\HIGUYS;initial catalog=Clockstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext10-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext11-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext12-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext13-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext14-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext6-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext7-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext8-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext9-Web.config Connection String" />
    <MSDeployParameterValue Include="ClockstoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Context.dbModel.csdl|res://*/Context.dbModel.ssdl|res://*/Context.dbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=SQL5063.site4now.net;initial catalog=db_a7c1df_mentime;user id=db_a7c1df_mentime_admin;password=0347242849thinh;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLBanHangDBContext15-Web.config Connection String" />
  </ItemGroup>
</Project>