
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var data = Request["data"];

}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1> Thông tin thanh toán</h1>
            <div class="form-group">
                <label for="exampleInputEmail1">Chon ngân hàng</label>
                <select id="ddlBank" class="form-control">
                    <option value="NCB">NCB</option>
                    <option value="VietcomBank">VietcomBank</option>
                    <option value="ViettinBank">ViettinBank</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Số thẻ</label>
                <input type="text" class="form-control" id="txtCardNumber" value="" placeholder="Nhập số thẻ">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Tên chủ thẻ</label>
                <input type="text" class="form-control" id="txtHoldName" value="NGUYEN VAN A" placeholder="Nhập số điện thoai">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Ngày phát hành</label>
                <input type="text" class="form-control" id="txtOpenDate" value="07/15" placeholder="OpenDate">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mật khẩu OTP</label>
                <input type="text" class="form-control" id="txtSecureCode" value="123456" placeholder="otp">
            </div>
            <div class="form-group">
                <button class="btn update btn-white border-secondary bg-white btn-md mb-2" id="btnPaymentPortal">
                    <i class="fa fa-money-bill"></i> Thanh toán
                </button>
            </div>
           
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        /// Dữ liệu Data bên Thanh toán gửi sang sẽ lấy thông quá biên Request["data"] để lát đưa xuoongs controller xử lý tiếp

        $("#btnPaymentPortal").click(function () {

            var BankName = $("#ddlBank").val();
            var cardNumber = $("#txtCardNumber").val();
            var holdName = $("#txtHoldName").val();

            var openDate = $("#txtOpenDate").val();
            var secureCode = $("#txtSecureCode").val();

            if (BankName == "" || BankName == null) {

                alert("họ tên không được trống");
                return;
            }

            if (cardNumber == "" || cardNumber == null) {

                alert("địa chỉ không được trống");
                return;
            }
            if (holdName == "" || holdName == null) {

                alert("số điện thoại không được trống");
                return;
            }

            if (openDate == "" || openDate == null) {

                alert("NGÀY PHÁT HÀNH không được trống");
                return;
            }
            if (secureCode == "" || secureCode == null) {

                alert("OTP không được trống");
                return;
            }
            var BankName = $("#ddlBank").val();
            var cardNumber = $("#txtCardNumber").val();
            var holdName = $("#txtHoldName").val();

            var openDate = $("#txtOpenDate").val();
            var secureCode = $("#txtSecureCode").val();

            // ĐIỀN ĐẨY ĐỦ CÁC THÔNG TIN NGÂN HÀNG KÈM THÔNG TIN DATA xuống controller 
                var input_data = {
                    BankName: BankName,
                    cardNumber: cardNumber,
                    holdName: holdName,
                    openDate: openDate,
                    secureCode: secureCode,
                    data: '@Request["data"]'
                };

                var Url = "/PortralPayment/PaymentBank";
                $.ajax({
                    type: 'GET',
                    url: Url,
                    data: input_data,
                    success: function (data) {
                        var code = data.ResponseCode;
                        var des = data.Description;
                        var Extended = data.Extended;
                        if (code > 0) {
                            window.location.href = "/CheckOut/ResultPayment?data=" + Extended;
                        } else {
                            alert(des);
                        }

                    },
                    error: function (data) {
                        console.log("error:" + JSON.stringify(data));
                    }
                });

        });

    });

    function CheckOut() {

    }

</script>

